* {
    padding: 0px;
    margin: 0px;
}

#container {
    background-color: #f5f5f5;
    width: 970px;
}

h1 {
    display: inline-block;
    margin-right: 470px;
}

h2 {
    display: inline-block;
}

#central {
    background-color: #1c0b10;
    background-image: radial-gradient(#806c76, #1c0b10);
    padding: 15px;
}

#ofme {
    width: 400px;
    height: auto;
    border: 2px solid #c0bfc0;
    display: inline-block;
    margin-right: 15px;
}

#about {
    width: 500px;
    height: 263px;
    background-image: linear-gradient(to right, white, #cebfcc);
    display: inline-block;
    vertical-align: top;
}

h3 {
    background-image: linear-gradient(white, gray, white);
    height: 25px;
    padding: 5px;
    color: white;
}

p {
    padding: 5px;
}

#reading {
    padding: 5px;
}

#secciones {
    margin-top: 15px;
}

.modulos {
    width: 30%;
    background-image: linear-gradient(to right, white, #cebfcc);
    height: 590px;
    display: inline-block;
    margin-right: 15px;
}

.fotoseccion {
    height: 155px;
    width: auto;
}

.parrafoseccion {
    height: 200px;
}

.tecnologias {
    width: 45px;
}

#imagenes {
    padding: 10px;
}

.centrado {
    text-align: center;
}

button {
    background-color: #407d61;
    color: white;
    width: 70px;
    border-radius: 20px;
}


/*
#footer {
    text-align: center;
}*/

.fotorsociales {
    width: 20px;
}